<?xml version="1.0"?>
<launch>
    <arg name="distance" default="0.1"/>
    <arg name="velocity" default="0.03"/>
    <arg name="cmd_vel_topic" default="/cmd_vel"/>
    <arg name="odom_topic" default="/odom"/>
    <node name="go_straight" pkg="go_straight_and_turn" type="go_straight" args="$(arg distance) $(arg velocity)" output="screen">
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>
</launch>